<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="8.CSS" />
    <title>8 Заболотский</title>
  </head>
  <body>
    <header>
      <div class="fon1">
        <div class="flex m-left80 text-lg">
          <div class="ml05 mp1 mt3 mb5 fon2 radl P">Home</div>
          <div class="ml05 mp1 mt3 mb5 fon2 P">contact us</div>
          <div class="ml05 mp1 mt3 mb5 fon2 P">sitemap</div>
          <div class="ml05 mp1 mt3 mb5 fon2 radR P">login</div>
        </div>
      </div>

      <div class="flex fon5 jbf text-l text-font">
        <div class="">
          <img class="hg65" src="img/Screenshot_1.png" />
        </div>
        <div class="mt bordW w15">
          <div class="mt14 mp4 mb1 fon3 text-cen P">Home</div>
        </div>
        <div class="mt bordW w15">
          <div class="mt14 mp4 mb1 fon4 text-cen P">News</div>
        </div>
        <div class="mt bordW w15">
          <div class="mt14 mp4 mb1 fon4 text-cen P">Shop</div>
        </div>
        <div class="mt bordW w30">
          <div class="mt7 mp2 mb1 fon4 text-cen P">About our coffee</div>
        </div>
        <div class="mt bordW w30">
          <div class="mt7 mp2 mb1 fon4 text-cen P">Menu and Nutrition</div>
        </div>
        <div class="mt bordW w30">
          <div class="mt7 mp2 mb1 fon4 P">Gift Cards</div>
        </div>
      </div>

      <div class="flex jbf grad">
        <div class="w50">
          <img src="img/14.png" alt="" />
        </div>
        <div class="mt10">
          <div class="call text-xm">Заболотский А.Н.</div>
          <div class="text-right pcall rpad text-m mt1">GOOD coffee</div>
        </div>
        <div class="text-lg fon11 mt5 mb5 mr1 w10">
          <div class="text-l mb10 fon6 mp2 text-cen P">Service Menu</div>
          <div class="mb5 bordBot2 P">
            <img src="img/o1.png" class="rf mr2 mr2 P" />Customer center
          </div>
          <div class="mb5 bordBot2 P">
            <img src="img/o2.png" class="rf mr2 mr2 P" />Coffe FAQ
          </div>
          <div class="mb5 P">
            <img src="img/o3.png" class="rf mr2 mr2 P" />Free board
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="flex jfb">
        <div class="w35 ml1">
          <div class="grad2 ml2 mt3 bord31">
            <div class="bord2">
              <div class="fon71"><div class="ml5 text-m P">COFFEE</div></div>
              <div class="fon7">
                <div class="mp2 ml5 text-lg bordBot mr2 P">BEAN NEWS</div>
                <div class="mp2 ml5 text-lg bordBot mr2 P">BEAN TEST</div>
                <div class="mp2 ml5 text-lg bordBot mr2 P">ON LINE MARKET</div>
                <div class="mp2 ml5 text-lg mr2 P">COFFEE STORY</div>
              </div>
            </div>
            <div class="ml10 mt10 call text-m P P">
              <img src="img/RIGHT.png" alt="" /> News
            </div>
          </div>

          <div class="fon8 ml2 text-lg bord3">
            <div>
              <div class="pcall mt3">[2009/09/01]</div>
              <div class="bordBot2">
                Ius id autem aliqando vituperatoribus, vitae fastidii ut.
              </div>
            </div>
            <div>
              <div class="pcall mt3">[2009/09/01]</div>
              <div class="mt1 bordBot2">
                Ius id autem aliqando vituperatoribus, vitae fastidii ut.
              </div>
            </div>
            <div>
              <div>
                <div class="pcall mt3">[2009/09/01]</div>
                <div class="mt1">
                  Ius id autem aliqando vituperatoribus, vitae fastidii ut.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mp1">
          <div class="bordBot2">
            <div class="call text-m">Welcome To Our Coffee Company</div>
            <div class="flex jfb">
              <div class="w50">
                <img src="img/Screenshot_2.png" class="hgF" />
              </div>
              <div class="text-l mt1">
                Nam eu vero laoreet suscipit, pri ad harum dicit placerat. Ferri
                dictas similique est in, ea natum verear elabo- raret mea. Ei
                suas simul pro, et ullum ridens scripta vim. cu delenit nusquam
                maluisset ius, mei suas dicit at, at ludus utamur senserit quo.
                Eu eum nullam recteque, di quis graeco convenire et, no affert
                scriptorem mei. Per in idque cetero probatus, ius sale clita
                quando ne<br /><br />
                An nec porro noluisse, his an alia dolorum admodum. Vix sonet
                omnes ne, et per alii mandamus. Labores patrioque accommodare te
                est
              </div>
            </div>
          </div>

          <div>
            <div class="mp2 flex jbf tc-1">
              <div class="flex jbf">
                <div class="flex jbf grad3 RadF mr2">
                  <div class="w50">
                    <img
                      src="img/Screenshot_3.png"
                      class="mt12 ml5 mr2 mp1 hgF"
                    />
                  </div>
                  <div>
                    <div class="mt1 ml2 text-m ml5 bordBot2 mr20">
                      New Product
                    </div>
                    <div class="mt1 ml2 text-l mp4 mr2">
                      lus dicunt accumsan inimicus at. ea libris postea
                      suavitate duo. Te malorum <br />
                      <div class="text-right">More</div>
                    </div>
                  </div>
                </div>

                <div class="flex jbf grad3 RadF ml2 mr2">
                  <div class="w50">
                    <img src="img/Screenshot_4.png" class="mt12 ml5 hgF" />
                  </div>
                  <div>
                    <div class="mt1 ml2 text-m ml5 bordBot2 mr20">
                      Best Product
                    </div>
                    <div class="mt1 ml2 text-l mp4">
                      lus dicunt accumsan inimicus at. ea libris postea
                      suavitate duo. Te malorum <br />
                      <div class="text-right">More</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w22 ml2">
                <img src="img/Screenshot_10.png" class="hgF" />
              </div>
            </div>

            <div class="mp1 flex jbf">
              <div class="flex jbf RadF ml1 mr2 fon-coffee">
                <div class="ml5">
                  <div class="mt1 ml2 text-m ml5 mr20">coffee</div>
                  <div class="mt1 ml2 text-l mp4">
                    Lorem ipsum melmets nemore at facer antiopam <br />
                    <div class="text-lg fon-coffeeM w30 text-cen mt5">MORE</div>
                  </div>
                </div>
                <div class="w50 mt15">
                  <img src="img/Screenshot_5.png" class="mt ml5 hgF" />
                </div>
              </div>

              <div class="flex jbf RadF ml1 mr2 fon-tea">
                <div class="ml5">
                  <div class="mt1 ml2 text-m ml5 mr20">tea</div>
                  <div class="mt1 ml2 text-l mp4">
                    Lorem ipsum melmets nemore at facer antiopam <br />
                    <div class="text-lg fon-teaM w30 text-cen mt5">MORE</div>
                  </div>
                </div>
                <div class="w50 mt15">
                  <img src="img/Screenshot_6.png" class="ml5 hgF" />
                </div>
              </div>

              <div class="flex jbf RadF ml1 mr2 fon-cake">
                <div class="ml5">
                  <div class="mt1 ml2 text-m ml5 mr20">cake</div>
                  <div class="mt1 ml2 text-l mp4">
                    Lorem ipsum melmets nemore at facer antiopam <br />
                    <div class="text-lg fon-cakeM w30 text-cen mt5">MORE</div>
                  </div>
                </div>
                <div class="w50 mt15">
                  <img src="img/Screenshot_7.png" class="ml5 hgF" />
                </div>
              </div>

              <div class="flex jbf RadF ml1 mr2 fon-juice">
                <div class="ml5">
                  <div class="mt1 ml2 text-m ml5 mr20">juice</div>
                  <div class="mt1 ml2 text-l mp4">
                    Lorem ipsum melmets nemore at facer antiopam <br />
                    <div class="text-lg fon-juiceM w30 text-cen mt5">MORE</div>
                  </div>
                </div>
                <div class="w50 mt15">
                  <img src="img/Screenshot_8.png" class="ml5 hgF" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
